:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --template-color: #6c63ff;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  opacity: 0.5;
}
p {
  font-family: var(--default-font-family);
}
img {
  max-width: 100%;
}
section img {
  max-width: 80px;
  border-radius: 10px;
}
.description {
  text-align: center;
  margin-top: 15px;
}
.description h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.container {
  width: 100%;
  margin: 100px auto;
}
.container-content {
  margin: 200px 50px;
}
.btn-template {
  background: var(--template-color);
  border-color: #6c63ff;
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
button:hover {
  transition: ease-in-out;
  color: blue;
}
@media (max-width: 900px) {
}
