:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --template-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
h3 {
  font-size: 14px;
  opacity: 0.5;
}
p {
  font-family: var(--default-font-family);
}
img {
  max-width: 100%;
}
section img {
  max-width: 80px;
  border-radius: 10px;
}
footer {
  display: block;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
}
footer .social-links a {
  color: var(--template-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 10px 15px;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--template-color);
  transition: all 100ms ease-in-out;
}
.logo {
  max-width: 150px;
  background-color: azure;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex: 0.4;
}
.menu a {
  text-decoration: none;
  color: #272142;
  font-weight: 400;
}
.menu a.active {
  color: var(--template-color);
}
.menu a:hover {
  color: var(--template-color);
  transition: all 100ms ease-in-out;
}
.description {
  text-align: center;
  margin-top: 15px;
}
.description h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.page-container {
  width: 100%;
  margin: 100px auto;
  background-color: #f9f7fe;
}
.container-content {
  margin: 100px 50px;
}

.btn-template {
  background: var(--template-color);
  border-color: #6c63ff;
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

button:hover {
  transition: ease-in-out;
  color: blue;
}
@media (max-width: 900px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.4;
  }
}
